<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <todos-input (create)="createTodo($event)"></todos-input>
  </header>
  <section class="main" [ngClass]="{ hidden: todos.length === 0 }">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <todos-item *ngFor="let t of todos" [todo]="t"
        (remove)="removeTodo(t.id)"
      ></todos-item>
    </ul>
  </section>
  <todos-actionbar [todos]="todos"></todos-actionbar>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a [href]="authorUrl">{{ author }}</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
